.sc-text-field-view.sc-large-size {
    font-size: 18px;
}

.sc-source-list.row-height-44 .sc-collection-item.sel{
    background: static_url('list-item-44.png') repeat-x !important;
}

.d-incident-list-item-view label {
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-overflow: ellipsis;
    
    top: 5px;
    left: 30px;
    height: 20px;
    right: 24px;
}

.d-incident-list-item-view span {
    display: block;
    position: absolute;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.d-incident-list-item-view .summary {
    left: 30px;
    top: 25px;
    right: 4px;
    height: 14px;
}

.d-incident-list-item-view .status {
    margin-top: -7px;
    top: 50%;
    
    left: 30px;
    right: 4px;
    height: 14px;
    text-align: right;
}

.d-incident-list-item-view .type-icon {
    position: absolute;
    
    margin-top: -12px;
    top: 50%;
    
    width: 24px;
    height: 24px;
    left: 2px;
}

.d-assignment-list-item-view > label {
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-overflow: ellipsis;
    
    top: 50%;
    height: 20px;
    margin-top: -10px;
    
    left: 40px;
    width: 150px;
}

.d-assignment-list-item-view > span {
    display: block;
    position: absolute;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.d-assignment-list-item-view .summary {
    left: 195px;
    top: 3px;
    height: 15px;
    right: 310px;
}

.d-assignment-list-item-view .location {
    left: 195px;
    top: 17px;
    height: 15px;
    right: 310px;
}

.d-assignment-list-item-view .icon {
    position: absolute;
    
    height: 30px;
    margin-top: -15px;
    top: 50%;
    
    left: 5px;
    width: 30px;
    border: 1px solid black;
}